apiVersion: v1
kind: Service
metadata:
    name: my-service
spec:
    type: NodePort
    ports:
      - targetPort: 80
        port: 80
        nodePort: 30008
    selector:
        my-pod-label: my-pod-value
